.App {
  margin: 20px;
}

button {
  font-size: 23px;
  background-color: cyan;
  margin-left: 50px;
}

span {
  font-size: 23px;
  background-color: yellow;
}

form {
  font-size: 28px;
  margin:10px;
  background-color: rgb(250, 132, 132);
}

input{
  font-size: 28px;
  margin:10px;
}

#submit {
  background-color: rgb(170, 169, 169);
  box-shadow: 4px 4px;
}

